.container {
  position: relative;
  display: inline-block;
  min-width: 200px;
  background-color: #dbd9cc;
  box-shadow: 2px 2px 2px 1px #262626;
  border-radius: 8px;
  margin: 0 30px 30px;
  padding: 0 20px 20px;
  color: #262626;
  text-align: left;

  .title {
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 30px;
  }

  .weatherIcon {
    position: relative;
    top: 13px;
    right: 0;
    width: 40px;
    height: 40px;
    margin-left: 5px;
  }

  .closeIcon {
    position: absolute;
    top: 24px;
    right: 20px;
    width: 20px;
    height: 20px;
    color: black;
    cursor: pointer;
  }

  h4 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 10px;

    span {
      font-weight: 700;
    }
  }
}